

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


	
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<head th:replace="fragments :: headDash" />

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>




<style>
       
       
 body, html {
  height: 100%;
  background-image: url('https://img.freepik.com/premium-vector/abstract-medical-background-with-flat-icons-symbols_120542-613.jpg?w=2000');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  

 
}





</style>












<body  th:replace="fragments :: sideDash" />











<div class ="container">
		<div class = "row">
			<h1 style="color:rgba(135,206,235);font-size:50px;font-weight:bold;text-shadow:3px 3px 3px rgb(87, 85, 85)"  ALIGN=CENTER > List Factures </h1>
		</div>
		
		<BR> 
		<div class = "row">
			<div class = "col-lg-3">
				<a  style="color:rgba(0,255,255);font-size:18px;font-weight:bold;text-shadow:3px 3px 3px rgb(87, 85, 85)" th:href ="@{/admin/dash/factures/AddFacture}" class = "btn btn-primary btn-sm mb-3"> Add New Facture</a>
			</div>
		</div>
		
		
		
		<form th:action="@{/search}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by  Name " size="50" >
  <button type="submit" class="btn btn-info" >Search</button>
  <button type="submit" class="btn btn-info" >Reset</button>
  </form>
		
		
		
		
		
		
		
		
		
		
		<table class = "table table-hover  text-center"  >
			<thead class = "table-dark-striped "      >
				<tr>

					<th>Name Patient</th>
					<th>Montant Payee</th>
					<th>Mode Payment</th>
			
					<th> Actions</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "facture: ${factures}">
					<td th:text = "${facture.NamePatient}"></td>
					<td th:text = "${facture.MontantPayee}"></td>
					<td th:text = "${facture.ModePayment}"></td>
					
					<td>
						<a th:href = "@{/admin/dash/factures/editFactures/{id}(id=${facture.id})}"
						 	 ><i class="fa fa-edit" ></i></a>
						
						<a th:href = "@{/admin/dash/factures/{id}(id=${facture.id})}"
						 ><i class="fa fa-remove"></i></a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
	
	<hr>
		<a style="color:rgba(250,128,114);font-size:15px;font-weight:bold;text-shadow:3px 3px 3px rgb(87, 85, 85)"  th:href="@{/admin/dash}">Back to Dashboard </a>
	

</body>
</html>











